<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>ComparatOrg</title>
		<link rel="stylesheet" type="text/css" href="/assets/styles/salesforce-lightning-design-system.css" />
	</head>
	<body class="container">

	<header>
	    <% include header %>
	</header>

	<main>
	    <div class="jumbotron">
			<h1>Welcome to CoparatOrg !!!</h1>
	        <img src="https://c1.sfdcstatic.com/content/dam/blogs/us/Sept2017/blaze2.jpg" width="900px"> 
	    </div>
	</main>

	</body>
</html>