<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Playground</title>
		<link rel="stylesheet" type="text/css" href="/assets/styles/salesforce-lightning-design-system.css" />
	</head>
	<body class="container">

	<header>
	    <% include header %>
	</header>

	<main>
	    <div class="jumbotron">
	        <div class="slds-text-heading_large">Listado de RT de <%- miObjeto %> en las distintas Sandbox / Orgs</div>
	         <%- html %>
	    </div>
	</main>

	</body>
</html>